.landing--hero{
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img//hero/hero_image.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.landing--hero--container{  
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color: white;
    height: 100%;
    padding: 20px;
}

.landing--favorites--empty{
    margin: 0 auto;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing--favorites{
    
    height: 500px;
    background-color: transparent;
}

.landing--favorites--container{
    max-width: 1020px;
    display: flex;
    height: 100%;
    margin: 0 auto;
    flex-direction: column;
}

.landing--favorites--text{
    margin: 20px auto;
}

.landing--favorites--elements{
    height: 100%;
}

.landing--favorite--img{
    height: 350px;
    width: auto;
}